.certificate-stats-card {
  max-width: 950px;

  margin: 0 auto 30px;

  background: #0f172a;

  padding: 30px;

  border-radius: 20px;

  text-align: center;

  border: 1px solid rgba(255,255,255,.08);

  box-shadow:
    0 10px 30px rgba(0,0,0,.35);
}

.certificate-count {
  font-size: 60px;

  font-weight: 700;

  background: linear-gradient(
    135deg,
    #06b6d4,
    #8b5cf6
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.certificate-form {
  max-width: 950px;

  margin: 0 auto 40px;

  background: #0f172a;

  padding: 30px;

  border-radius: 20px;

  border: 1px solid rgba(255,255,255,.08);

  box-shadow:
    0 10px 30px rgba(0,0,0,.35);
}

.certificate-form h2 {
  text-align: center;
  margin-bottom: 25px;
}

.certificate-form input {
  width: 100%;

  padding: 14px;

  margin-bottom: 15px;

  border: 1px solid rgba(255,255,255,.08);

  border-radius: 12px;

  background: #071129;

  color: white;

  box-sizing: border-box;
}

.certificate-btn {
  display: block;

  margin: 20px auto 0;

  min-width: 240px;

  border: none;

  padding: 14px;

  border-radius: 12px;

  cursor: pointer;

  color: white;

  font-weight: 600;

  background: linear-gradient(
    135deg,
    #06b6d4,
    #8b5cf6
  );
}

.certificate-preview {
  width: 250px;

  border-radius: 15px;

  display: block;

  margin: 20px auto;
}

.certificate-grid {
  display: grid;

  grid-template-columns:
    repeat(
      auto-fit,
      minmax(320px,1fr)
    );

  gap: 20px;
}

.certificate-card {
  background: #0f172a;

  border: 1px solid rgba(255,255,255,.08);

  border-radius: 18px;

  padding: 20px;

  text-align: center;

  box-shadow:
    0 10px 20px rgba(0,0,0,.25);
}

.certificate-image {
  width: 100%;

  height: 220px;

  object-fit: cover;

  border-radius: 14px;

  margin-bottom: 15px;
}

.certificate-card h3 {
  margin-bottom: 10px;
}

.certificate-card p {
  color: #cbd5e1;
  margin-bottom: 15px;
}

.certificate-link {
  display: inline-block;

  margin-bottom: 15px;

  text-decoration: none;

  color: #06b6d4;

  font-weight: 600;
}